<p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Your account has been successfully created.</p>
                            <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">You can proceed to explore all the Amazing learning resource we have set up for you</p>
                                <div style="margin-top: 40px;">
                                  <p class="group-box group-box-2">
                                    <p style="position: relative; text-align: center; background: #09AC2C; background-image: url('https://res.cloudinary.com/dm1ta9lno/image/upload/v1646066076/cliqlite-mail-template/frame_hanxaj.png'); width: 100%; padding-top: 10px; padding-bottom: 10px;">
                                        <span class="white-text-color" style="color: white; font-weight: bold; font-size: 24px; font-family: Plus Jakarta Display;"><strong>Take a quick quiz to get started!</strong></span>
                                        <br />
                                        <button style="background: #F8B800; border: none; border-radius: 15px; width: 164px; height: 47px; font-family: Plus Jakarta Display; font-size: 20px; margin-top: 10px; cursor: pointer;">test</button></p>
                                    </p>
                                </div>