<p class="lite-green" style="background: #09AC2C; width: 100%; height: 29px;"></p>
<p style="background: #E6F7EA;" class="table-container table-box">
<table style="width: 100%; margin-top: -15px; font-family: Plus Jakarta Display;">
 <tbody>
  <tr>
      <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Status</strong></td>
      <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">SUCCESSFUL</td>
  </tr>
  <tr>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Date and Time</strong></td>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">time</td>
  </tr>
  <tr>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Child Name</strong></td>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">Deborah Lawson</td>
  </tr>
  <tr>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Channel</strong></td>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">Card (or Airtime)</td>
  </tr>
  <tr>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Amount</strong></td>
    <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">₦00.00</td>
  </tr>
 </tbody>
</table>
</p>
<p class="black-text-color" style="font-weight: bold; font-size: 18px; font-family: Plus Jakarta Display;">
    Thank You for Choosing CliqLite!
</p>